.loginForm {
  display: flex;
  justify-content: center !important;
  margin: 10rem 0;
  color: var(--text-primary);
}

.loginWrapper {
  display: flex;
  justify-content: space-between;
}

button {
  margin: 2rem 5rem !important;
  background-color: #feab00;
  color: black;
  border: 1px solid;
  border-radius: 25px;
  padding: 0.5rem 1.2rem;
  text-shadow: 0.5px 0px;
  box-shadow: 1px 1px black;
}

select {
  color: black;
  background-color: #818793;
  border: 2px solid #0e53dd;
  border-radius: 25px;
  text-shadow: 0.3px 0px;
  box-shadow: 1px 1px black;
  text-align: center;
  margin-top: 1.5rem !important;
  padding: 0.3rem;
}

.contentWrapperLogin {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
  width: 300px;
}

/* animation css */

div .loader {
  position: relative;
  height: 210px;
  width: 210px;
  left: 95px;
}

div .loader .red {
  display: inline-block;
  position: absolute;
  width: 110px;
  height: 110px;
  background: #feab00;
  opacity: 0.90;
  transform-origin: 50% 50%;
  animation-name: rotating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  box-shadow: 5px 5px 5px black !important;
}

div .loader .green {
  display: inline-block;
  position: absolute;
  width: 85px;
  height: 85px;
  top: 12.5px;
  left: 12.5px;
  background: #0e53dd;
  opacity: 0.75;
  transform-origin: 50% 50%;
  animation-name: rotating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  box-shadow: 3px 3px 3px black !important;
}

div .loader .blue {
  display: inline-block;
  position: absolute;
  width: 60px !important;
  height: 60px !important;
  top: 25px;
  left: 25px;
  background: #ffffff;
  transform-origin: 50% 50%;
  animation-name: rotating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  box-shadow: 3px 3px 3px black !important;
}

img {
  width: 60px !important;
  height: 60px !important;
  border: 3px solid #04142d;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
