/* Global variables */
:root {
  --text-primary: #ffffff;
  --text-secondary: #818793;

  --bg-primary: #243546;
  --bg-buttons: #feab00;
  --bg-light: #0e53dd;
}

/* Reset default properties */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-primary);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
}

/* Customize bootstrap */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #feab00;
  border-color: #243546b4;
}

.text-primary {
  color: #ffffff !important;
}

.text-secondary {
  color: #818793 !important;
}

.text-light {
  color: #ffffff !important;
}

.text-dark {
  color: #818793 !important;
}

.bg-primary {
  background-color: #243546 !important;
}

.bg-secondary {
  background-color: #0e53dd !important;
}

.bg-dark {
  background-color: #243546 !important;
}

button {
  border: 1px solid;
  border-radius: 25px;
}

h1,
h2,
h3 {
  font-weight: bold;
}
